/* static/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #DDF2D1;
    margin: 0;
    padding: 0;
}


/* ปรับ CSS ของ .logo */
.logo {
    float: left; /* ให้โลโก้อยู่ทางซ้าย */
    width: 300px; /* กำหนดความกว้างของโลโก้ */
    height: auto; /* ให้ความสูงปรับตามอัตราส่วน */
    margin-right: 100px; /* กำหนดระยะห่างข้างขวาของโลโก้ */
    margin-left: 200px;
    margin-top: 100px;
}

h1 {
    /*text-align: center;*/
    margin-left: 200px;
    position: fixed;
    bottom: 100px;

}

.upload-form {
    background-color: #f5ce65;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0.5, 0.5, 0.5, 0.1);
    position: fixed;
    top: 175px;
    right: 150px;
    width: 400px; /* กำหนดความกว้างของ Upload Form */
}

.upload-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.upload-form input[type="file"] {
    display: block;
    margin-bottom: 15px;
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 16px; /* เพิ่มขนาดตัวอักษร */
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.5);
}

.upload-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: #ff0000;
    margin-top: 10px;
}

.result-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.result-container {
    text-align: center;
    flex-basis: calc(25% - 20px);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* เพิ่มการเคลื่อนไหวสำหรับการ hover */
}


.result-container:hover {
    transform: scale(1.05);
}

.result-img-horizontal {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.2s; 
}

.result-container:hover .result-img-horizontal {
    opacity: 0.7;
}