<!DOCTYPE html>
<html>
<head>
    <title>Background Removal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        
    </div>
    <div class="container">
        <img src="{{ url_for('static', filename='logo/photo-camera.png') }}">
        <h1>Background Removal</h1>
        <form action="/process" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="image">Upload Image:</label>
            <input type="file" name="image" accept="image/*" required>
            <label for="background">Upload Background:</label>
            <input type="file" name="background" accept="image/*" required>
            <button type="submit">Remove Background</button>
        </form>
        </div>
    </div>
</body>
</html>